@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tailwind CSS styles with custom z-index values */

.map-container {
  z-index: 1; /* Lower z-index for the map container */
}

.modal-overlay {
  z-index: 1000; /* Ensure high z-index for the modal overlay */
}

.resizable-bar {
  z-index: 200;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  
}

.app {
  height: 100%;
}